<div class="container">
    <div class="row">
      <div class="create-subreddit-container">
        <form class="post-form" [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">
          <div class="form-group">
            <div class="create-subreddit-heading">Criar subreddit</div>
            <hr />
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
              placeholder="Title">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
              placeholder="Description"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discartas</button>
                <button class="btnCreateSubreddit">Criar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <h5 class="guidelines">Postando no Spring Reddit</h5>
          <hr />
          <ul>
            <li>Lembre-se do humano</li>
            <hr />
            <li>Comporte-se como você faria na vida real</li>
            <hr />
            <li>Não faça spam</li>
            <hr />
          </ul>
        </div>
      </div>
    </div>
  </div>
