<div class="sidebar">
    <img class="reddit-icon-svg" src="https://cdn-icons-png.flaticon.com/512/1959/1959984.png"  >
    <div style="text-align: center; font-size: 1em">Bem-vindo à página inicial do StrangerRed. Venha aqui para
        verifique com seus subreddits favoritos.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Criar postagem</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Criar subreddit</button>
    </div>
</div>